*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    margin: 0 auto;
    border: 1px solid;
    background-color: hsl(208, 28%, 14%, 01);
}

/* Navegacao da Pagina Superior */
.navegacao{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}
.navegacao a{
    margin: 12px 5vw;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 1vh 3vw;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}
.navegacao a:hover{
    background-color: #cecfd6;
    box-shadow: 0 0 20px #ccc;
}

/* Cabeçalho e Conteudos do Cabeçalho */
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}
.header img{
    max-width: 40%;
    border-radius: 40px;
}
.header ul{
    font-size: 1.5rem;
    list-style: none;
    color: #fff;
}
.header li{
    margin-bottom: 1vh;
}
main{
    margin-top: 10vh;
}
main h3{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5vh;
}
section ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

section ul > li{
    padding: 10px 20px;
    list-style: none;
}
section a{
    color: #fff;
    text-decoration: none;
}

section #icones img{
    display: block;
    width: 5vw;
    border-radius: 20px;
    background-color: rgb(169, 169, 216);
    margin-bottom: 10vh;
}
section #icones img:hover{
    box-shadow: 0 0 20px #fff;
    width: 10vw;
}

section #img-sites{
    display: flex;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}

section #img-sites img{
    width: 450px;
    height: 250px;
    opacity: 0.5;
    border-radius: 50px;
    box-shadow: 0 0 10px #ccc;

}
section #img-sites img:hover{
    width: 550px;
    height: auto;
    opacity: 1;
    box-shadow: 0 0 10px #fff;
}

.sobre p{
    text-align: center;
    color: #fff;
}

footer{
    margin-top: 10vh;
    margin-bottom: 2vh;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}