/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    display: flex;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #000;
}

/* Estilos para o elemento <main> */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 1rem;
    background-image: linear-gradient(20deg, rgb(11, 11, 11), rgb(14, 25, 33), rgb(12, 77, 70));
}

/* Estilos para telas menores (máximo de 650px) */
@media screen and (max-width: 650px) {
    main {
        font-size: 1rem;
        padding: 20px;
        margin: 10px;
    }
}
