* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabecalho da Pagina */
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    background: linear-gradient(45deg, #000000, gray, hsl(0, 0%, 50%), #000000);

}
header img{
    width: 120px;
    filter: drop-shadow(10px 10px 5px #000);
}
header nav ul{
    display: flex;
    flex-wrap: wrap;

}
nav li {
    margin: 10px 20px;
    list-style: none;
}

nav a {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;

}
nav a:hover{
    color: #8fcb0e;
}


/* Conteudo da Pagina */
main{
    padding: 10px;
    max-width: 1250px;
    margin: 10px auto;
    background-color: #fcfcfd;
}

main figure img{
    width: 100%;
    margin-top: -20px;
}
main h1{
    text-align: center;
    margin: 20px;
    font-size: 2.5rem;
    filter: drop-shadow(5px 5px 5px #000);
    color: #ccc;
}

main h2{
    margin-top: 4vh;
    margin-bottom: 1vh;
}

#historia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#imagen-html{
    display: flex;
    align-items: center;
    max-width: 20vw;
    margin: 10px;
} 
@media screen and (max-width: 1650px){
    #imagen-html{
        max-width: 40vw;
    }

}

.container-historia{
    width: 450px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
main .container-historia > h2, a{
    text-align: center;
    text-decoration: none;
    color: #333;
}
main p{
    margin: 10px;
}

blockquote{
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-size: 1.2rem;
    filter: drop-shadow(0 5px 10px #555);
    color: #fff;
    background: linear-gradient(45deg, #000, #746666, #746666, #000);
}

/* Fundo Rodape */
.social-media{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    color: #fff;
    background: linear-gradient(45deg, #000, #746666, #746666, #000);

}
.social-icons{
    flex-wrap: wrap;
}
.social-icons img{
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #ccc);

    
}
.social-icons img:hover{
    box-shadow: 0 0 1.5vw rgb(255, 255, 255);
    background-image: linear-gradient(30deg, rgb(162, 162, 184), #948bb0, #21dcc6);

}
.social-icons #redes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icons p {
    font-size: 1.2rem;
    font-weight: bold;
}

footer{
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
}