*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
    max-width: 1450px;
    padding: 10px;
    margin: 0 auto;
}
/* Cabeçalho da Pagina */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3vh solid #ccc;
    background-color: #333;
}
header img{
    padding: 12px;
    width: 10vw;
}
header h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}


main{
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
}

/* Barra Lateral esquerda */
.sidebar{
    display: block;
    margin-top: 2vh;
    padding-top: 2vh;
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 10px;
}
.sidebar h2{
    text-align: center;
}

.sidebar li{
    margin-left: 1vw;
    margin-top: 1vw;
    list-style: none;
}
.sidebar a{
    text-decoration: none;
    color: #2e2572;
    display: block;
}
.sidebar li:hover{
    color: #2e2572;
    text-decoration: dotted;
    background-color: rgb(0, 255, 89);
    padding: 7px 10px;
}
.sidebar a:hover{
    color: red;
}


/* Conteudo da pagina */
.conteudo{
    padding: 1vw 2vw;
}
.conteudo img{
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 10px;
}












/* Barra lateral Esquerda */
.anchors{
    padding: 1vw 1vw;
    width: 100%;
    border: 3px solid #ccc;
    margin-top: 2vh;
    border-radius: 10px;
}
.anchors li{
    list-style: none;
    margin-top: 2vh;
}
.anchors a{
    text-decoration: none;
    color: #333;
}
.anchors li:hover{
    width: 90%;
    color: #2e2572;
    text-decoration: dotted;
    background-color: rgb(0, 255, 89);
    padding: 7px 10px;
}



footer{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

footer a, p{
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2rem;
}